@eab-agency:registry=https://registry.yarnpkg.com/
@eab-agency:registry=https://registry.npmjs.org
@eab-agency:registry=https://npm.pkg.github.com

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

classic: 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