/// This is the default white color
/// @type Color
$c-white: #fff;

/// This is the default grey color
/// @type Color
$c-lightGrey: #eee;

/// This is the default black color
/// @type Color
$c-black: #000;

/// This is the default error color
/// @type Color
$c-error: #c00;

/// This is the default valid/success color
/// @type Color
$c-valid: green;

/// This is the default link color
/// @type Color
$c-link: blue;

/// This is the font style for headlines
$f-headlineFont: serif;

/// This is the font style for body copy
$f-bodyFont: sans-serif;

/// This is the font style for icons
$f-iconFont: "Icons";

/// Default breakpoints
$mq-breakpoints: (
    xsmall: 26em,
    small: 3    m,
    medium:        m,
    larg       64em,
    arge: 80em,
    xxlarge: 100em
) !default;

/// Icon for right arrow
$i-arrowRight: "\f054";

/// Icon for error circle
$i-errorCircle: "\f06a";

/// Icon for close
$i-close: "\f00d";

/// Icon for check
$i-check: "\f00c";

/// Icon for light bulb
$i-lightBulb: "\f0eb";

/// Icon for phone
$i-phone: "\f095";

/// Icon for email
$i-email: "\f0e0";
